#roeth {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#notRoeth {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (min-aspect-ratio: 1/1) { /* On horizontal devices */
    #roeth:hover {
        filter: hue-rotate(90deg);
    }
}